<template>
  <v-container fluid>
    <v-layout
      row
      wrap
    >
      <v-flex
        xs12
        class="TitleContainer"
      >
        <h1 class="text-xs-center">Calibrate Engines</h1>
      </v-flex>
      <v-flex
        xs12
        sm3
        md3
        offset-xs3
      >
        <v-btn
          fab
          dark
          large
          color="green"
          class="ctaInit"
          @click="actionTest('start')"
          id="start"
        >
          Start
        </v-btn>
      </v-flex>
      <v-flex
        xs12
        sm3
        md3
        offset-xs0
        offset-lg1
      >
        <v-btn
          fab
          dark
          large
          color="red"
          class="ctaInit"
          @click="actionTest('stop')"
          id="stop"
        >
          Stop
        </v-btn>
      </v-flex>

    </v-layout>
    <v-layout
      row
      wrap
    >
      <v-flex
        xs12
        class="StatusContainer"
      >
        <h2 class="status">{{this.statusMotors}}</h2>
      </v-flex>
    </v-layout>

  </v-container>
</template>
<script>
import axios from "~/plugins/axios";
export default {
  data() {
    return {
      statusMotors: "Waiting"
    };
  },
  methods: {
    async actionTest(paramsStatus, error) {
      return axios
        .get(`/api/test${paramsStatus}`)
        .then(res => {
          console.log(res.data);
          this.statusMotors = res.data;
        })
        .catch(e => {
          error({ statusCode: 404, message: "status not found" });
        });
    }
  },
  head() {
    return {
      title: "Calibrating Motors"
    };
  }
};
</script>

<style scoped>
.ctaInit {
  height: 188px;
  width: 188px;
  font-size: 30px;
}
.TitleContainer {
  margin: 2% 0;
  font-size: 25px;
}
.resultContainer {
  height: 350px;
}
.StatusContainer {
  margin-top: 5%;
}

.StatusContainer h2 {
  text-align: center;
}
</style>
