<template>
  <v-container fluid>
    <v-layout
      row
      wrap
    >
      <v-flex
        xs12
        class="TitleContainer"
      >
        <h1 class="text-xs-center">Control</h1>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<style scoped>
.TitleContainer {
  margin: 2% 0;
  font-size: 25px;
}
.resultContainer {
  height: 350px;
}
</style>
